<style>
	.bg-mod-list{
		position: absolute;
		width: 90%;
		left: 5%;
		top: 0.50rem;
		color: #333;
		text-align: center;
		padding: 0;
		z-index: 99;
	}

	.bg-mod-sg{
		background-color: #fff;
		opacity: 0.7;
	}
	.bg-mod-sg a{
		color: #333 !important;
		display: block;
	}
	.bg-mod-sg.selected{
		background-color: #98030D;
		color: #fff !important; 
	}
	.bg-mod-sg.selected a{
		color: #fff !important; 
	}
	.mod-view{
		display: block;
		height: 100%;
		width: 100%;
	}
</style>
<ul class="flexbox bg-mod-list">
	<% var recordUrl = 14; dynamicbg.forEach(function(mod,index){ %>
	<li class="flex1 bg-mod-sg <% if(index + 1 == select){ %>selected<% } %>" data-mod="<%= index %>">
		<a class="mod-view" href="/record/<%= recordUrl %>">模板<%= index + 1 %></a>
	</li>
	<% recordUrl ++ ; });  %>
</ul>