<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/css/index.css' />
		<script type="text/javascript" src="/js/lib/zepto.min.js"></script>
		<script type="text/javascript" src="/js/lib/garden.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="center garden-box" id="loveHeart">
				<canvas class="garden-canvas" id="garden"></canvas>
			</div>
		</div>
	</body>
</html>
