<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/index.css" />
	<body>
		<canvas class="pagebg" id="index-canvas" width="100%" height="100%"></canvas>
		<section  class="container">
			<div class="cfff head-op clearfix">
				<% if(user.userid){ %>
				<span class="fl">
					<span class="mr10">欢迎你，<%= user.username %></span>
				</span>
				<a class="cfff fr" href="/<%= user.userid %>">我的主页</a>
				<% }else{ %>
				<span class="fr cfff">
					<a href="/login" class="cfff">登录</a>&nbsp;/&nbsp;<a href="/regist" class="cfff">注册</a>
				</span>
				<% } %>
			</div>
		</section>
	</body>
	<script type="text/javascript" src="/js/lib/neon.js"></script>
	<script type="text/javascript" src="/js/indexMain.js"></script>
</html>
