<!DOCTYPE html>
<html>
	<%- include head %>
	<link rel="stylesheet" href="/css/record.css" />
	<body>
		<canvas class="pagebg" id="index-canvas" width="100%" height="100%"></canvas>
		<section  class="container">
			<div class="head-op clearfix">
				<% if(user.userid){ %>
				<span class="fl">
					<span class="mr10"><%= user.username %></span>
				</span>
				<a class="fr" href="/">首页</a>
				<% } %>
			</div>
			<div class="ellipsis title"><%= record.title %></div>
			<div class="article"><%= record.article %></div>
		</section>
	</body>
</html>
