@charset "utf-8";
html, body, div, h1, h2, h3, h4, h5, h6, ul, ol, dl, li, dt, 
dd, p, blockquote, pre, form, fieldset, table, th, td, input, table, textarea {
    margin: 0;
    padding: 0;
}
html{
	width: 100%;
	height: 100%;
	font-size: 100px;
}
body{
	width: 100%;
	height: 100%;
	color: #FFF;
	font-size: 0.16rem;
	font-family: Arial,'Microsoft YaHei'!important;
	overflow-x: hidden;
}
ol,ul{
    list-style:none;
}
a{text-decoration: none;color: #FFF;}
.container{
	width: 94%;
    min-height: 100%;
	padding: 0 3%;
    z-index: 9;
    position: relative;
    overflow: hidden;
}
.head-op{
    height: 0.50rem;
    line-height: 0.50rem;
}
.pagebg{
    position: absolute;
    left: 0;
    top: 0;
}
.hide{display: none;}
.z9{z-index: 9!important;}
.z99{z-index: 99!important;}
.z999{z-index: 999!important;}
.opa{opacity: 0.7 !important;}
.bgred{background-color:#EF4F4F !important; }
.bgwhite{background-color: #fff !important;}
.bggray{background-color: #f5f5f5 !important;}
.bt1{border-top: 1px solid #e5e5e5 !important;}
.bb1{border-bottom: 1px solid #e5e5e5 !important;}
.tac{text-align: center !important;}
.tal{text-align: left !important;}
.tar{text-align: right !important;}
.por{position: relative !important;}
.center{margin: 0 auto;}
.mt10{margin-top: 0.1rem !important;}
.mt20{margin-top: 0.2rem !important;}
.mt30{margin-top: 0.3rem !important;}
.mt40{margin-top: 0.4rem !important;}
.ml10{margin-left: 0.1rem !important;}
.ml20{margin-left: 0.2rem !important;}
.ml30{margin-left: 0.3rem !important;}
.ml40{margin-left: 0.4rem !important;}
.mr10{margin-right: 0.1rem !important;}
.mr20{margin-right: 0.2rem !important;}
.mr30{margin-right: 0.3rem !important;}
.mr40{margin-right: 0.4rem !important;}
.mb10{margin-bottom: 0.1rem !important;}
.mb20{margin-bottom: 0.2rem !important;}
.mb30{margin-bottom: 0.3rem !important;}
.mb40{margin-bottom: 0.4rem !important;}
.mt50{margin-top: 0.50rem !important;}
.ofh{overflow: hidden !important;}
.bluetext{color: #225fba !important;}
.redtext{color:#EF4F4F !important;}
.cfff{color: #fff !important;}
.c999{color: #999 !important;}
.fl{float: left !important;}
.fr{float: right !important;}
.clearfix {
    zoom: 1;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.btn{
	width: 100%;
	height: .40rem;
    line-height: .40rem;
	display: inline-block;
    text-align: center;
    border-radius: 3px;
    font-size: .16rem;
    color: #fff;
    background-color: #bbb;
}
.flexbox{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.flex1{
	-webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.ellipsis{
    width: 100%;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow:ellipsis;
}
input[type="text"],input[type="password"]{
	width: 100%;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 0.16rem;
    color: #fff;
}
textarea{
    color: #fff;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    background-color: transparent;
    resize: none;
}
.empty{
    text-align: center;
    color: #999;
    height: 0.80rem;
    line-height: 0.80rem;
}
.alertbox {
    max-width: 50%;
    padding: 15px 20px;
    text-align: center;
    font-size: 16px;
    position: fixed;
    top: 25%;
    left: 25%;
    z-index: 1200;
    border-radius: 10px;
    line-height: 2;
}
.alertboxmsg {
    position: relative;
    z-index: 1;
    color: #fff;
}
.alertboxbg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    border-radius: 10px;
}
.alert,.confirm{
    z-index: 499;
    display: none;
}
.alert .alertBg,.confirm .confirmBg{
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 499;
}
.alert .alertMain,.confirm .confirmMain{
    position: fixed;
    width: 80%;
    left: 10%;
    top: 50%;
    z-index: 1001;
    background-color: #f5f5f5;
    color: #333 !important;
    border-radius: 5px;
    overflow: hidden;
}
.confirm .confirmMain{
    margin-top: -0.65rem;
}
.alert li{
    border-top: 1px solid #eee;
}
.alert li:first-child{
    border-top: 0;
}
.alert .alertMain a,.confirm .confirmMain a{
    color: #333 !important;
}
.confirm .confirm-text{
    height: 0.80rem;
    line-height: 0.80rem;
    font-size: 0.18rem;
    border-bottom: 1px solid #ddd;
}
.confirm .confirm-cancel{
    display: block;
    text-align: center;
    width: 50%;
    height: 0.50rem;
    line-height: 0.50rem;
    position: relative;
}
.confirm .confirm-cancel:after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid #ddd;
}
.confirm .confirm-sure{
    display: block;
    text-align: center;
    width: 50%;
    height: 0.50rem;
    line-height: 0.50rem;
}