@charset "utf-8";
@keyframes scaleout
{
	0% {
		top:0;
		transform:scale(1);
	}
	100% {
		top:-0.30rem;
		transform:scale(0.8);
	}
}

@-moz-keyframes scaleout
{
	0% {
		top:0;
		-moz-transform:scale(1);
	}
	100% {
		top:-0.30rem;
		-moz-transform:scale(0.8);
	}
}

@-webkit-keyframes scaleout
{
	0% {
		top:0;
		-webkit-transform:scale(1);
	}
	100% {
		top:-0.30rem;
		-webkit-transform:scale(0.8);
	}
}

@keyframes scalein
{
	0% {
		top:0;
		transform:scale(0.3);
	}
	100% {
		top:-0.30rem;
		transform:scale(1);
	}
}

@-moz-keyframes scalein
{
	0% {
		top:0;
		-moz-transform:scale(0.3);
	}
	100% {
		top:-0.30rem;
		-moz-transform:scale(1);
	}
}

@-webkit-keyframes scalein
{
	0% {
		top:0;
		-webkit-transform:scale(1);
	}
	100% {
		top:-0.30rem;
		-webkit-transform:scale(0.3);
	}
}
.index-container{
	background: none;
	color:#fff;
}
.index-container a{
	color: #fff;
}
.type-writer{
	width: 70%;
	margin: 0 auto;
	margin-top: 0.70rem;
	position: relative;
}
.scaleout{
	animation-name: scaleout;
 	animation-duration: 1s;
 	animation-direction: alternate;
 	animation-timing-function: ease-in-out;

 	-webkit-animation-name: scaleout;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-direction: alternate;
 	-webkit-animation-timing-function: ease-in-out;
}
.go-express{
	width: 100%;
	text-align: center;
	font-size: 0.18rem;
	position: relative;
	top: -0.30rem;
}
.scalein{
	animation-name: scalein;
 	animation-duration: 1s;
 	animation-direction: alternate;
 	animation-timing-function: ease-in-out;

 	-webkit-animation-name: scalein;
 	-webkit-animation-duration: 1s;
 	-webkit-animation-direction: alternate;
 	-webkit-animation-timing-function: ease-in-out;
}