@charset "utf-8";
.bottom-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 0.50rem;
	width: 100%;
	padding: 0;
	z-index: 9;
}
.go-express{
	height: 0.50rem;
	line-height: 0.50rem;
	border-radius: 0;
	background: none;
	font-size: 0.20rem;
	text-shadow: 2px 2px 4px #fff;
}
.record-list{
	padding-bottom: 0.50rem;
}
.record-sg{
	height: 0.30rem;
	line-height: 0.30rem;
	padding: 0.05rem 0;
}
.record-title{
	width: 70%;
}