@charset "utf-8";
.bottom-btn{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 0.50rem;
	width: 100%;
	padding: 0;
	z-index: 9;
}
.go-express{
	height: 0.50rem;
	line-height: 0.50rem;
	border-radius: 0;
	background: none;
	font-size: 0.20rem;
	text-shadow: 2px 2px 4px #fff;
}
.record-list{
	padding-bottom: 0.50rem;
}
.record-sg{
	position: relative;
	height: 0.50rem;
	line-height: 0.50rem;
}
.record-title{
	width: 70%;
}
.record-op-list{
	position: absolute;
	top: 0.45rem;
	right: 0;
	z-index: 9;
	border-radius: 5px;
	background-color: #fff;
}
.record-op-list a{
	display: block;
	height: 0.40rem;
	line-height: 0.40rem;
	width: 0.80rem;
	text-align: center;
	color: #333;
	border-top: 1px solid #eee;
}
.record-op-list a:first-child{
	border-top: 0;
}