<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <title>demo</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <meta name="format-detection" content="telephone=no" />
        <meta name="apple-touch-fullscreen" content="YES" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="screen-orientation" content="portrait">
        <meta name="x5-orientation" content="portrait">
        <link rel="stylesheet" href="../../public/css/base.css" />
        <script type="text/javascript" src="../../public/js/lib/zepto.min.js"></script>
        <script type="text/javascript" src="../../public/js/lib/snow.js"></script>
    </head>
</head>
<body>
    <canvas class="pagebg" id="index-canvas" style="width:100%;height:100%;background-color: #98030D;"></canvas>
</body>
<script>
    $('#index-canvas').let_it_snow({
        windPower: 0,
        speed: 0,
        color: '#F21313',
        size:50,
        opacity: 0.00001,
        count: 15,
        interaction: false
    });
</script>
</html>